/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    padding: 50px;
    font-size: 45px;
    font-weight: bold;
}

.nav-title {
    color: #4E47FF;

}

/* header */
.header {
    background-image: url('../images/Hero-bg.png');
}

.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 36px;
    transition-duration: 0.4s;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
}

.btn-primary span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-primary span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn-primary:hover span {
    padding-right: 25px;
}

.btn-primary:hover span:after {
    opacity: 1;
    right: 0;
}

.banner {
    justify-content: center;
    align-items: center;
    padding: 300px 400px;
    text-align: center;
}

.banner-title {
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}

.stay {}

.section-title {
    font-weight: bold;
    font-size: 45px;
    align-items: center;
    padding: 60px;
}


.section-subtitle {
    color: #252432;
    font-size: 24px;
    font-weight: normal;
}

.sec {
    display: flex;
    justify-content: space-between;
    padding: 120px 160px;
    border-radius: 50px;
    background-color: aliceblue;
}

.wc-mini {
    border-radius: 50px;
}

.productive-users {
    text-align: center;
    display: flex;
    padding: 45px 150px;
    border-radius: 25px;
    justify-content: space-around;
   
}
.main-seg{
    background-color: azure;

}
.users-seg {
    text-align: center;
   
    padding: 30px 350px;
    border-radius: 25px;
    background-color: #FFFFFF;
}
.respose {
    color: #4E47FF;
    font-size: 80px;
}

/* review section */
.skill-container {
    display: flex;
    gap: 24px;
    align-content: center;
    text-align: center;
    align-items: center;
}
.skills
.text-align {
    text-align: center;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0.06);

}

/* .user-review {
    text-align: center;
    background-color: azure;
}

.review-container {
    background-image: url('../images/icon-star.png');
    background-repeat: no-repeat;
    background-position: top left;
    gap: 24px;
   
    text-align: center;
    justify-content: space-around;

}

.review {
    padding: 30px;
    border-radius: 20px;
 display: flex;
}
 */
/* section-touch */
.section-touch {
    padding: 90px 250px;
    display: flex;
    gap: 10px;
    background-color: aliceblue;
}
.section-title{
    padding: 200px 115px;
}

.column {
    width: 50%;

}

.form {
    display: flex;
}

input[type="text"],
footer input[type="email"],
footer textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;

}



/* footer styles */
footer {
    text-align: center;
    padding: 50px 550px;
    background-color: #FFFFFF;


}

.footer-link {
    list-style: none;
    text-decoration: none;
    justify-content: space-around;

}

.footer-title {
    color: #4E47FF;
    font-size: 100px;
}

.dark-1 {
    color: #8987A1;
}



